package {{ .Resource.Name }}

import (
{{ range .Imports }}
"{{ . }}"
{{ end }}
)

type Client interface {
  Get{{ toPascalCase .Resource.Name }}(context.Context, *Identifier) (*{{ toPascalCase .Resource.Name }}, error)
{{ if .Resource.HasCreate }}
  Create{{ toPascalCase .Resource.Name}}(context.Context, *Identifier, *Config) error
{{ end }}
}

type {{ toPascalCase .Resource.Name }} struct {
  Identifier *Identifier
  Config *Config
}

func GetResource(ctx context.Context, client Client, identifier []provider.FieldValue) (*provider.Resource, error) {
  r := &provider.Resource{} 
  id := FieldValuesToIdentifier(identifier)
  _, err := client.Get{{ toPascalCase .Resource.Name }}(ctx, id)
  if err != nil {
    if errors.Is(err, provider.NotFoundError) {
      r.State = provider.ResourceStateNotExists
      return r, nil
    }

    return nil, err
  }

  // r.Config = out.Config
  return r, nil
}
