package {{ .Schema.Provider.Name }}

import (
{{ range .Imports }}
"{{ . }}"
{{ end }}
)

type ClientRegistry struct {
{{ range .Schema.Resources }}
  {{ toPascalCase .Name }}Client {{ .Name }}.Client
{{ end }}
}

func (r *ClientRegistry) RegisterClient(client any) error {
  switch c := client.(type) {
{{ range .Schema.Resources }}
  case {{ .Name }}.Client:
    r.{{ toPascalCase .Name }}Client = c
{{ end }}
  default:
    return fmt.Errorf("unrecognized client type: %T", client)
  }

  return nil
}

func (r *ClientRegistry) GetResource(ctx context.Context, identifier provider.Identifier) (*provider.Resource, error) {
  switch id := identifier.(type) {
{{ range .Schema.Resources }}
  case *{{ .Name }}.Identifier:
    return {{ .Name }}.GetResource(ctx, r.{{ toPascalCase .Name}}Client, id)
{{ end }}
  default:
    return nil, fmt.Errorf("unrecognized identifier type: %T", identifier)
  }
}

func ParseIdentifierBlock(ctx *hcl.EvalContext, block *hcl.Block) (any, error) {
  switch block.Labels[1] {
  {{ range .Schema.Resources }}
  case "{{ .Name }}":
    return {{ .Name }}.ParseIdentifierBlock(ctx, block)
  {{ end }}
  default:
    return nil, fmt.Errorf("unknown block type: %s", block.Labels[1])
  }
} 

func ParseOpBlock(ctx *hcl.EvalContext, block *hcl.Block) (provider.Operation, error) {
  switch block.Labels[1] {
  {{ range .Schema.Resources }}
  case "{{ .Name }}":
    return {{ .Name }}.ParseOpBlock(ctx, block)
  {{ end }}
  default:
    return nil, fmt.Errorf("unknown block type: %s", block.Labels[1])
  }
}

func ResourceNames() []string {
  return []string{
  {{ range .ResourceNames }}
  "{{ .}}",
  {{ end }}
  }
}
