package {{ .Schema.Provider.Name }}

import (
{{ range .Imports }}
"{{ . }}"
{{ end }}
)

type ClientRegistry struct {
{{ range .Schema.Resources }}
  {{ toPascalCase .Name }}Client {{ .Name }}.Client
{{ end }}
}

func (r *ClientRegistry) GetResource(ctx context.Context, resourceType string, identifier []provider.FieldValue) (*provider.Resource, error) {
  switch resourceType {
{{ range .Schema.Resources }}
  case "{{ .Name }}":
    return {{ .Name }}.GetResource(ctx, r.{{ toPascalCase .Name}}Client, identifier)
{{ end }}
  default:
    return nil, fmt.Errorf("unrecognized identifier type: %T", resourceType)
  }
}

func Schema() provider.Schema {
  return provider.Schema{
    Resources: map[string]provider.ResourceSchema{
  {{ range .Schema.Resources }}
    "{{ .Name }}": {{ .Name }}.ResourceSchema(),
  {{ end }}
    },
  }
}

