package {{ .Schema.Provider.Name }}

import (
{{ range .Imports }}
"{{ . }}"
{{ end }}
)

type ClientRegistry struct {
{{ range .Schema.Resources }}
  {{ toPascalCase .Name }}Client {{ .Name }}.Client
{{ end }}
}

func (r *ClientRegistry) GetResource(ctx context.Context, identifier provider.Identifier) (*provider.Resource, error) {
  switch id := identifier.(type) {
{{ range .Schema.Resources }}
  case *{{ .Name }}.Identifier:
    return {{ .Name }}.GetResource(ctx, r.{{ toPascalCase .Name}}Client, id)
{{ end }}
  default:
    return nil, fmt.Errorf("unrecognized identifier type: %T", identifier)
  }
}

func Schema() provider.Schema {
  return provider.Schema{
    Resources: map[string]provider.ResourceSchema{
  {{ range .Schema.Resources }}
    "{{ .Name }}": {{ .Name }}.ResourceSchema(),
  {{ end }}
    },
  }
}

