package {{ .Resource.Name }}

import (
{{ range .Imports }}
"{{ . }}"
{{ end }}
)

// Identifier is the identifier for a {{ .Resource.Name }}.
type Identifier struct {
{{- range .Resource.Identifier }}
  // {{ toPascalCase .Name }} is {{ .Description }}
  {{ toPascalCase .Name }} {{ identifierPartGoType . }}
{{ end }}
}

func (id *Identifier) String() string {
  var parts []string
{{ if eq (len .Resource.Dependencies) 0 }}
  parts = append(parts, "{{ .Provider.Name }}", "{{ .Provider.Version }}")
{{ end }}
  
{{ range .Resource.Identifier }}
  {{ if .IsNamed }}
    parts = append(parts, "{{ $.Resource.Name }}", fmt.Sprintf("%s", id.{{ toPascalCase .Name }}))
  {{ else }}
    parts = append(parts, fmt.Sprintf("%s", id.{{ toPascalCase .Name }}))
  {{ end }}
{{ end }}

  return strings.Join(parts, "/")
}

