package {{ .Resource.Name }}

import (
{{ range .Imports }}
"{{ . }}"
{{ end }}
)

func ParseOpBlock(ctx *hcl.EvalContext, block *hcl.Block) (*Op, error) {
  schema := &hcl.BodySchema{
    Attributes: []hcl.AttributeSchema{
      {Name: "id"},
      {Name: "config"},
      {Name: "version"},
    },
  }
  content, diag := block.Body.Content(schema)
  if diag.HasErrors() {
    return nil, diag
  }

  var op HCLOp
  idAttr := content.Attributes["id"]
  var id HCLIdentifier
  if diag := gohcl.DecodeExpression(idAttr.Expr, ctx, &id); diag.HasErrors() {
    return nil, diag
  }

  op.HCLIdentifier = &id

  return op.ToOp(), nil
}

type Op struct {
  Identifier *Identifier
}

type Config struct {

}

type HCLOp struct {
  HCLIdentifier *HCLIdentifier `hcl:"id" cty:"id"`
  Version string `hcl:"version" cty:"version"`
  HCLConfig *HCLConfig `hcl:"config" cty:"config"`
}

func (op *HCLOp) ToOp() *Op {
  return &Op{
    Identifier: op.HCLIdentifier.ToIdentifier(),
  }
}

type HCLConfig struct {

}
