package {{ .Resource.Name }}

import (
{{ range .Imports }}
"{{ . }}"
{{ end }}
)

// Identifier is the identifier for a {{ .Resource.Name }}.
type Identifier struct {
{{- range .Resource.Identifier }}
  // {{ toPascalCase .Name }} is {{ .Description }}
  {{ toPascalCase .Name }} {{ identifierPartGoType . }}
{{ end }}
}

func (id *Identifier) String() string {
  var parts []string
{{ if eq (len .Resource.Dependencies) 0 }}
  parts = append(parts, "{{ .Name }}", "{{ .Version }}")
{{ end }}
  
{{ range .Resource.Identifier }}
  {{ if .IsNamed }}
    parts = append(parts, "{{ $.Resource.Name }}", fmt.Sprintf("%s", id.{{ toPascalCase .Name }}))
  {{ else }}
    parts = append(parts, fmt.Sprintf("%s", id.{{ toPascalCase .Name }}))
  {{ end }}
{{ end }}

  return strings.Join(parts, "/")
}

func FieldValuesToIdentifier(fieldValues []provider.FieldValue) *Identifier {
  var id Identifier

  for _, fv := range fieldValues {
    switch fv.Name {
  {{ range $id := .Resource.Identifier }}
    case "{{ $id.Name }}":
      {{ if eq $id.Type "string" }}
        id.{{ toPascalCase $id.Name }} = fv.Value.(string)
      {{ end }}

      {{ if eq $id.Type "identifier_oneof" }}
        switch fv.Metadata["identifier_type"]{
        {{ range $id.Choices }}
        case "{{ . }}":
          id.{{ toPascalCase $id.Name }} = {{ . }}.FieldValuesToIdentifier(fv.Value.([]provider.FieldValue)) 
        {{ end }}
        }
      {{ end }}
  {{ end }}
    }
  }

  return &id
}
