package {{ .Resource.Name }}

import (
{{ range .Imports }}
"{{ . }}"
{{ end }}
)

func ParseIdentifierBlock(ctx *hcl.EvalContext, block *hcl.Block) (*Identifier, error) {
  schema := &hcl.BodySchema{
    Attributes: []hcl.AttributeSchema{
    {{ range .Resource.Identifier -}}
      {Name: "{{ .Name }}"},
    {{ end }}
    },
  }
  content, diag := block.Body.Content(schema)
  if diag.HasErrors() {
    return nil, diag
  }

  var hclID HCLIdentifier
  {{ range $id := .Resource.Identifier }}
    if attr, ok := content.Attributes["{{ .Name }}"]; ok {
    {{ if eq .Type "identifier_oneof" }}
      variable := attr.Expr.Variables()[0]
		  part := variable.SimpleSplit().Rel[1].(hcl.TraverseAttr)
		  var {{ .Name }} identifier.HCLIdentifier
		  switch part.Name {
		  {{ range .Choices }}
		    case "{{ . }}":
		      {{ $id.Name }} = &{{ . }}.HCLIdentifier{}
		    {{ end }}
		  }

      if diag := gohcl.DecodeExpression(attr.Expr, ctx, {{ .Name }}); diag.HasErrors() {
        return nil, diag
      }
      hclID.{{ toPascalCase .Name }} = {{ .Name }}

    {{ else }}
      var {{ .Name }} {{ identifierPartHCLGoType . }}
      if diag := gohcl.DecodeExpression(attr.Expr, ctx, &{{ .Name }}); diag.HasErrors() {
        return nil, diag
      }
      hclID.{{ toPascalCase .Name }} = {{ .Name }}
    {{ end }}
    }
  {{ end }}

	val, err := hclID.ToCtyValue()
	if err != nil {
		return nil, err
	}

  identifier.AddIdentifierValueToEvalCtx(ctx, block, val)

	return hclID.ToIdentifier(), nil
}

// Identifier is the identifier for a {{ .Resource.Name }}.
type Identifier struct {
{{- range .Resource.Identifier }}
  // {{ toPascalCase .Name }} is {{ .Description }}
  {{ toPascalCase .Name }} {{ identifierPartGoType . }}
{{ end }}
}


type HCLIdentifier struct {
{{ range .Resource.Identifier }}
  {{ toPascalCase .Name }} {{ identifierPartHCLGoType . }} {{ backtick }}hcl:"{{ .Name }}" cty:"{{ .Name }}"{{ backtick }}
{{ end }}
}

func (id *HCLIdentifier) CtyType() cty.Type {
	return cty.Object(map[string]cty.Type{
	{{ range .Resource.Identifier -}}
	  "{{ .Name }}": {{ identifierPartCtyType . }},
	{{ end }}
	})
}

func (id *HCLIdentifier) ToCtyValue() (cty.Value, error) {
	return gocty.ToCtyValue(id, id.CtyType())
}

func (id *HCLIdentifier) ToIdentifier() *Identifier {
  out := &Identifier{}
{{ range $id := .Resource.Identifier }}
  {{ if eq .Type "identifier_oneof" }}
    switch t := id.{{ toPascalCase .Name }}.(type) {
    {{ range .Choices -}}
    case *{{ . }}.HCLIdentifier:
      out.{{ toPascalCase $id.Name }} = t.ToIdentifier()
    {{- end }}
    }
  {{ else if eq .Type "resource" }}
    out.{{ toPascalCase .Name }} = id.{{ toPascalCase .Name }}.ToIdentifier()
  {{ else }}
    out.{{ toPascalCase .Name }} = id.{{ toPascalCase .Name }}
  {{ end }}
{{ end }}

  return out
}
